@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./primevue/tailwind.css";
@import "tailwindcss/utilities";

:root {
  --p-primary-50: #eff6ff;
  --p-primary-100: #dbeafe;
  --p-primary-200: #bfdbfe;
  --p-primary-300: #93c5fd;
  --p-primary-400: #60a5fa;
  --p-primary-500: #3b82f6;
  --p-primary-600: #2563eb;
  --p-primary-700: #1d4ed8;
  --p-primary-800: #1e40af;
  --p-primary-900: #1e3a8a;
  --p-primary-950: #1e3a8a;
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f4f4f5;
  --p-surface-200: #e4e4e7;
  --p-surface-300: #d4d4d8;
  --p-surface-400: #a1a1aa;
  --p-surface-500: #71717a;
  --p-surface-600: #52525b;
  --p-surface-700: #3f3f46;
  --p-surface-800: #27272a;
  --p-surface-900: #18181b;
  --p-surface-950: #09090b;
  --p-content-border-radius: 6px;

  --ter-text-sm:0.75rem;       /* 12px */
  --ter-text-sm-1: 0.875rem;    /* 14px */
  --ter-text-base: 1rem;        /* 16px */
  --ter-text-base-1: 1.125rem;  /* 18px */
  --ter-text-base-2: 1.25rem;   /* 20px */ 
  --ter-text-medium: 1.375rem;  /* 22px */
  --ter-text-medium-1: 1.5rem;  /* 24px */
  --ter-text-medium-2: 1.75rem; /* 28px */
  --ter-text-large: 2.25rem;    /* 36px */
  --ter-text-xlarge: 3.75rem;   /* 60px */
  --ter-text-xxlarge: 5rem;     /* 80px */

  --ter-line-h-sm: 1.375rem;        /* 22px */
  --ter-line-h-sm-1: 1.5rem;        /* 24px */
  --ter-line-h-base: 1.625rem;      /* 26px */
  --ter-line-h-base-1: 1.75rem;     /* 28px */
  --ter-line-h-base-2: 1.875rem;    /* 28px */
  --ter-line-h-medium: 2rem;        /* 32px */
  --ter-line-h-medium-1: 2.125rem;  /* 34px */
  --ter-line-h-medium-2: 2.375rem;  /* 38px */
  --ter-line-h-large: 2.875rem;     /* 46px */
  --ter-line-h-xlarge: 4.375rem;    /* 70px */
  --ter-line-h-xxlarge: 5.625rem;   /* 90px */

  font-size: 14px;

  @media screen and (min-width:992px) {
    font-size: 16px;
  }
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark */
:root[class="dark"] {
  --p-primary-color: var(--p-primary-400);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: var(--p-primary-200);
  --p-highlight-color: var(--p-primary-600);
  --p-highlight-focus-background: var(--p-primary-400);
  --p-highlight-focus-color: var(--p-surface-50);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}